data/AUTSL
data/VN_SIGN/video*
data/VN_SIGN/pose*
data/VN_SIGN/poseflow
data/VN_SIGN/wholebody*
*pycache*
checkpoints
out-img
*.mp4
inference_config/*.onnx
cc*
pretrained_models
*.pt
receivedVideo
wandb
tools/madeLabel.py
tools/rmEmptyFromCSV.py
test_keypoints/
tools/emptyFolderCheck.py
tools/rmEmptyFolder.py
vsl
test.py
kpVisualize.py
warning.txt
log